Repository JosephMatino/MultiAiFilePaster, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, enhancement, documentation, readme, changelog, github, workflow, security, source, background, content, popup, shared, manifest, assets, config

.github/labeler.yml:

bug:
  - any: ['**/bug_report.md']

enhancement:
  - any: ['**/feature_request.md']

documentation:
  - any: ['**/*.md', '!changelog.md']

readme:
  - any: ['readme.md']

changelog:
  - any: ['changelog.md']

github:
  - any: ['.github/**/*']

workflow:
  - any: ['.github/workflows/**/*']

security:
  - any: ['.github/SECURITY.md', '.github/dependabot.yml']

source:
  - any: ['src/**/*']

background:
  - any: ['src/background/**/*']

content:
  - any: ['src/content/**/*']

popup:
  - any: ['src/popup/**/*']

shared:
  - any: ['src/shared/**/*']

manifest:
  - any: ['manifest.json']

assets:
  - any: ['logo/**/*', 'icons/**/*']

config:
  - any: ['.gitignore', '*.json', '*.yml', '*.yaml']

production: clean main branch for deployment
  .augment/rules/rules.md
  .augment/user-guidelines.md
  .github/hooks/check-i18n.js
  .github/hooks/post-commit
  .github/hooks/pre-commit
  .github/instructions/rules.instructions.md
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/internal/ENV_MCP.md
  docs/internal/GIT_WORKFLOW.md
  docs/internal/PIPELINE_PROTECTION.md
  docs/internal/TECHNICAL_DOCS.md
  docs/internal/description.md
  docs/internal/docs.md
  docs/internal/features.md
  git.sh
  mcp-servers/ai-scripts/analyze.sh
  mcp-servers/ai-scripts/i18ncheck.py
  mcp-servers/ai-scripts/projanalyze.py
  mcp-servers/env.py
  mcp-servers/mcp.sh
  mcp-servers/multi_ai_assistant.py
  mcp-servers/test-mcp.py
  pyrightconfig.json
  requirements.txt
Labels: documentation, github

Remove test infrastructure - tests were misaligned with actual functionality
  .augment/rules/rules.md
  .github/CODE_OF_CONDUCT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  .github/hooks/check-i18n.py
  .github/hooks/pre-commit
  CONTRIBUTING.md
  _locales/ar/messages.json
  _locales/de/messages.json
  _locales/en/messages.json
  _locales/es/messages.json
  _locales/fr/messages.json
  _locales/hi/messages.json
  _locales/ja/messages.json
  _locales/pt/messages.json
  _locales/ru/messages.json
  _locales/sw/messages.json
  _locales/zh/messages.json
  changelog.md
  docs/internal/TECHNICAL_DOCS.md
  docs/internal/description.md
  docs/internal/docs.md
  docs/internal/features.md
  manifest.json
  readme.md
  src/content/index.js
  src/content/platforms/claude.js
  src/content/platforms/gemini.js
  src/popup/index.html
  src/popup/index.js
  src/shared/batchprocessor.js
  src/shared/compression.js
  src/shared/config.js
  src/shared/languagedetector.js
  src/shared/metrics.js
Labels: documentation, readme, changelog, github, source, content, popup, shared, manifest

testing check-i18n-tool
  .augment/rules/rules.md
  .github/hooks/check-i18n.py
  _locales/ar/messages.json
  _locales/de/messages.json
  _locales/en/messages.json
  _locales/es/messages.json
  _locales/fr/messages.json
  _locales/hi/messages.json
  _locales/ja/messages.json
  _locales/pt/messages.json
  _locales/ru/messages.json
  _locales/sw/messages.json
  _locales/zh/messages.json
  docs/internal/AUTO-FIX-COMPLETE.md
  docs/internal/COMMENT-REMOVAL-TEST-REPORT.md
  docs/internal/GIT-SH-SAFETY-ANALYSIS.md
  docs/internal/PRE-COMMIT-VERIFICATION-COMPLETE.md
  docs/internal/PRE-RELEASE-AUDIT.md
  docs/internal/description.md
  mcp-servers/env.py
  mcp-servers/multi_ai_assistant.py
  mcp-servers/test-mcp.py
  src/content/components/fileattach.js
  src/content/components/modal.js
  src/content/components/toast.js
  src/content/index.js
  src/shared/languagedetector.js
  src/shared/validation.js
Labels: documentation, github, source, content, shared

Release v1.1.0: Complete internationalization with 11 languages, enhanced validation tools, and production-ready code quality
  changelog.md
  docs/internal/AUTO-FIX-COMPLETE.md
  docs/internal/COMMENT-REMOVAL-TEST-REPORT.md
  docs/internal/GIT-SH-SAFETY-ANALYSIS.md
  docs/internal/GIT_WORKFLOW.md
  docs/internal/PIPELINE_PROTECTION.md
  docs/internal/PRE-COMMIT-VERIFICATION-COMPLETE.md
  docs/internal/PRE-RELEASE-AUDIT.md
  docs/internal/TECHNICAL_DOCS.md
  docs/internal/docs.md
  src/content/components/modal.js
  src/content/components/toast.js
Labels: documentation, changelog, source, content

Fix git.sh: Properly exclude development files from main branch using git rm -rf
  git.sh
Labels: none

Production ready: All locales 30+ formats, SEO-optimized descriptions, verified word limits 50-15000, updated rules.md
  .augment/rules/rules.md
  .github/CODE_OF_CONDUCT.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/TRADEMARK.md
  CONTRIBUTING.md
  _locales/ar/messages.json
  _locales/de/messages.json
  _locales/en/messages.json
  _locales/es/messages.json
  _locales/fr/messages.json
  _locales/hi/messages.json
  _locales/ja/messages.json
  _locales/pt/messages.json
  _locales/ru/messages.json
  _locales/sw/messages.json
  _locales/zh/messages.json
  changelog.md
  docs/internal/description.md
  readme.md
  src/popup/index.html
  src/popup/index.js
Labels: documentation, readme, changelog, github, source, popup

Complete MCP server rebuild + Fix git.sh to never delete itself from develop - 5 production-ready tools with dynamic detection, zero Pylance errors, cross-platform support
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/fixes/mime-type-mapping-fix.md
  docs/fixes/utf8-encoding-fix.md
  docs/internal/TECHNICAL_DOCS.md
  git.sh
  mcp-servers/README.md
  mcp-servers/multi_ai_assistant.py
  mcp-servers/server.py
  mcp-servers/tools/__init__.py
  mcp-servers/tools/base.py
  mcp-servers/tools/config.py
  mcp-servers/tools/i18n.py
  mcp-servers/tools/manifest.py
  mcp-servers/tools/platform.py
  mcp-servers/tools/quality.py
  readme.md
Labels: documentation, readme, github, workflow

Fix Mermaid graph colors in GIT_WORKFLOW.md and PIPELINE_PROTECTION.md - professional blue/purple/green/red palette
  docs/internal/GIT_WORKFLOW.md
  docs/internal/PIPELINE_PROTECTION.md
  docs/internal/TECHNICAL_DOCS.md
  git.sh
Labels: documentation

Complete documentation audit and Chrome Web Store description improvements - production ready v1.1.0
  .github/hooks/check-i18n.py
  .github/hooks/pre-commit
  .github/instructions/rules.instructions.md
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  LICENSE
  NOTICE
  changelog.md
  docs/fixes/mime-type-mapping-fix.md
  docs/fixes/utf8-encoding-fix.md
  docs/internal/ENV_MCP.md
  docs/internal/MCP_TEST_INTEGRATION.md
  docs/internal/TECHNICAL_DOCS.md
  docs/internal/description.md
  docs/internal/docs.md
  docs/internal/features.md
  git.sh
  mcp-servers/README.md
  mcp-servers/env.py
  mcp-servers/tools/__init__.py
  mcp-servers/tools/base.py
  mcp-servers/tools/config.py
  mcp-servers/tools/i18n.py
  mcp-servers/tools/quality.py
  src/content/index.js
  tests/README.md
  tests/integration/config.test.js
  tests/integration/file-attachment.test.js
  tests/integration/platform-factory.test.js
  tests/jest.config.js
  tests/package.json
  tests/setup.js
  tests/test.sh
  tests/unit/batchprocessor.test.js
  tests/unit/languagedetector.test.js
  tests/unit/validation.test.js
Labels: documentation, changelog, github, workflow, source, content

Fix git.sh option 3: properly remove development files from main branch before merge
  git.sh
Labels: none

CRITICAL: Fix legal jurisdiction - change UK to South Sudan in LICENSE and NOTICE files
  LICENSE
  NOTICE
Labels: none

production: merge develop for deployment release
  LICENSE
  NOTICE
Labels: none

🔖 Version bump to v1.1.0 - Release preparation
  src/background/index.js
  src/content/platforms/chatgpt.js
  src/content/platforms/deepseek.js
  src/content/platforms/factory.js
  src/popup/analytics.js
  src/popup/breakdowns.js
  src/popup/tooltips.js
Labels: source, background, content, popup

Fix test.sh: Use direct Jest path for Windows compatibility and update to 105 tests
  tests/test.sh
Labels: none

Complete comprehensive project audit and assessment - production ready v1.1.0
  src/content/components/modal.js
Labels: source, content

production: merge develop for deployment release
  src/background/index.js
  src/content/components/modal.js
  src/content/platforms/chatgpt.js
  src/content/platforms/deepseek.js
  src/content/platforms/factory.js
  src/popup/analytics.js
  src/popup/breakdowns.js
  src/popup/tooltips.js
Labels: source, background, content, popup

🔖 Version bump to v1.1.0 - Release preparation
  src/background/index.js
  src/content/platforms/chatgpt.js
  src/content/platforms/deepseek.js
  src/content/platforms/factory.js
  src/popup/analytics.js
  src/popup/breakdowns.js
  src/popup/tooltips.js
Labels: source, background, content, popup

Update all documentation with accurate key counts (677 keys) and comprehensive audit results
  CONTRIBUTING.md
  changelog.md
  docs/internal/TECHNICAL_DOCS.md
  docs/internal/description.md
  readme.md
Labels: documentation, readme, changelog

production: merge develop for deployment release
  CONTRIBUTING.md
  changelog.md
  readme.md
  src/background/index.js
  src/content/platforms/chatgpt.js
  src/content/platforms/deepseek.js
  src/content/platforms/factory.js
  src/popup/analytics.js
  src/popup/breakdowns.js
  src/popup/tooltips.js
Labels: documentation, readme, changelog, source, background, content, popup

🔖 Version bump to v1.1.0 - Release preparation
  src/background/index.js
  src/content/platforms/chatgpt.js
  src/content/platforms/deepseek.js
  src/content/platforms/factory.js
  src/popup/analytics.js
  src/popup/breakdowns.js
  src/popup/tooltips.js
Labels: source, background, content, popup

production: merge develop for deployment release
  src/background/index.js
  src/content/platforms/chatgpt.js
  src/content/platforms/deepseek.js
  src/content/platforms/factory.js
  src/popup/analytics.js
  src/popup/breakdowns.js
  src/popup/tooltips.js
Labels: source, background, content, popup

Production Develop Ready 1.1.0
  git.sh
  src/content/components/fileattach.js
Labels: source, content

production: merge develop for deployment release
  git.sh
  src/content/components/fileattach.js
Labels: source, content

CRITICAL FIX: git.sh option 3 now properly removes git.sh from main branch
  git.sh
Labels: none

production: merge develop for deployment release
  git.sh
Labels: none

Add Chrome Web Store descriptions in all 11 languages with native speaker accuracy
  docs/internal/descriptions/description-ar.md
  docs/internal/descriptions/description-de.md
  docs/internal/descriptions/description-en.md
  docs/internal/descriptions/description-es.md
  docs/internal/descriptions/description-fr.md
  docs/internal/descriptions/description-hi.md
  docs/internal/descriptions/description-ja.md
  docs/internal/descriptions/description-pt.md
  docs/internal/descriptions/description-ru.md
  docs/internal/descriptions/description-sw.md
  docs/internal/descriptions/description-zh.md
  src/background/index.js
  src/content/platforms/chatgpt.js
  src/content/platforms/deepseek.js
  src/content/platforms/factory.js
  src/popup/analytics.js
  src/popup/breakdowns.js
  src/popup/tooltips.js
Labels: documentation, source, background, content, popup
